language: php
dist: bionic
sudo: required

addons:
  apt:
    update: true

branches:
  only:
    - develop
    - dev
    - master

php:
  - "7.3"

stages:
  - compile
  - test
  - deploy

before_install:
  - wget https://getcomposer.org/download/1.9.0/composer.phar
  - sudo mv $PWD/composer.phar /usr/local/bin/composer
  - sudo chmod +x /usr/local/bin/composer
  - wget https://phar.phpunit.de/phpunit-8.phar
  - sudo mv $PWD/phpunit-8.phar /usr/local/bin/phpunit
  - sudo chmod +x /usr/local/bin/phpunit

install:
  - pip install --user requests

jobs:
  include:
    - stage: compile
      name: "Import code"
      script: "python scripts/php/run_git_clone.py"
    - name: "Generate code"
      script: "bash ./scripts/php/generate-api-client.sh"
    - stage: test
      name: "Integration tests"
      script: "python scripts/php/run_integration_tests.py"
