branches:
  only:
    - dev
    - master

language: csharp
mono: none
sudo: required
dist: bionic
dotnet: 2.2
jdk: oraclejdk8
php:
  - 7.2

before_install:
 - sudo apt-get install php7.2
 - wget https://getcomposer.org/download/1.9.0/composer.phar
 - php -f $PWD/composer.phar install
script:
  - /bin/bash ./scripts/php/run-automation-pipeline.sh
