language: csharp
mono: none
sudo: required
dist: xenial
dotnet: 2.2
jdk: oraclejdk8
before_script:
  - chmod -R +x cli 
  - chmod -R +x scripts
  - cd scripts
script:
  - /bin/bash ./run-automation-pipeline.sh
